{{ define "main" }}
<div id="srodek">
  <div id="sidebar-left">
    {{ partial "article_list.html" . }}
  </div>
  <div id="artykul">
    <h1>Cześć, miło nam cię widzieć!</h1>

    <style>
      .link-spis-tel {
        color: var(--zwykly-tekst);
        text-decoration: none;
        line-height: 1.75;
      }

      /* .stat {
        color: var(--naglowki);
        font-weight: bold;
        font-size: 22px;
      }

      @media (max-width: 1000px) {

        html,
        body {
          font-size: 3.6vw;
        }
      } */
    </style>

    <!-- <h2>Czy wiedziałeś, że Informejtycy to już:</h2>
    <ul>
      <li>ponad <span class="stat">500</span> zadowolonych użytkowników, którzy rozwijają swoje umiejętności</li>
      <li>ponad <span class="stat">1.000</span> rozwiązanych zadań, które pomagają w nauce programowania</li>
      <li>ponad <span class="stat">5.000</span> odwiedzin, czyli rosnąca społeczność pasjonatów</li>
      <li>ponad <span class="stat">10.000</span> linii kodu, które tworzą to miejsce dla Was</li>
    </ul>
    <h3>A to wszystko dzięki Wam! Razem tworzymy społeczność Informejtyków!</h3> -->

    <div id="spis-tel">
      <h2>Spis treści</h2>
      <h3>Tematy podstawowe</h3>
      {{ $sortedPages := sort .Site.RegularPages "Params.id" }}
      {{ range $sortedPages }}
      {{ if eq .Params.nerd false }}
      <a class="link-spis-tel" href="{{ .RelPermalink }}">{{ .Params.id }}. {{ .Title }}</a><br>
      {{ end }}
      {{ end }}

      <h3>Tematy zaawansowane</h3>
      {{ range $sortedPages }}
      {{ if eq .Params.nerd true }}
      <a class="link-spis-tel" href="{{ .RelPermalink }}">{{ .Params.id }}. {{ .Title }}</a><br>
      {{ end }}
      {{ end }}
    </div>

    <!-- <style>
      html,
      body {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
      }

      .section {
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      /* //////////////////////////// */

      .h2-srodek {
        text-align: center;
        margin-top: 2vw;
      }

      #srodekS2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
      }

      .krok {
        background-color: #f0f0f0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .krok img {
        width: 50%;
        height: 50%;
        object-fit: contain;
      }

      .podpis {
        width: 120%;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
        font-weight: normal;
        text-align: center;
      }

      .strzalka {
        width: 80px;
        height: auto;
      }

      #gora-kroki {
        margin-top: 40px;
        margin-bottom: 40px;
      }

      #dol-kroki {
        margin-top: 120px;
        margin-bottom: 20px;
      }
    </style>

    <div class="section" style="margin-top: -60px;">
      <img src="../images/bez-tla.png" style="width: 500px;">
      <h2 style="margin-top: -120px;">- to coś znacznie więcej niż platforma do nauki!</h2>
      <p style="margin-top: 0px; max-width: 60%; text-align: center;">Już dziś zacznij przygodę z programowaniem<br>
        i zdobądź umiejętności cenione na rynku pracy.</p>
      </p>
    </div>

    <div class="section">

      <h2 class="h2-srodek" id="gora-kroki">Krok po kroku:</h2>

      <div id="srodekS2">

        <div class="krok" id="krok1">
          <img src="../images/icon1.png">
          <div class="podpis">Czytasz poradniki i analizujesz przykłady</div>
        </div>

        <img src="../images/next-dark.png" class="strzalka">

        <div class="krok" id="krok2">
          <img src="../images/icon2.png">
          <div class="podpis">Zdobywasz wiedzę</div>
        </div>

        <img src="../images/next-dark.png" class="strzalka">

        <div class="krok" id="krok3">
          <img src="../images/icon3.png">
          <div class="podpis">Wykonujesz zadania i ćwiczysz umiejętności</div>
        </div>
      </div>

      <h2 class="h2-srodek" id="dol-kroki">A potem programowanie to już tylko przyjemność!</h2>
    </div> -->

    {{ .Content }}

    <style>
      #realizowany {
        margin-top: 2vw;
        text-align: center;
      }
    </style>
    <div id="realizowany">
      {{ partial "project_as.html" . }}
    </div>

  </div>
  <div id="sidebar-right">
    <h2>Spis treści</h2>
    {{ .TableOfContents }}
  </div>
</div>
{{ end }}