{{ define "main" }}
<div id="srodek">
  <div id="sidebar-left">
    {{ partial "article_list.html" . }}
  </div>
  <div id="artykul">
    <h1>Cześć, miło nam cię widzieć!</h1>

    <style>
      .link-spis-tel {
        color: var(--zwykly-tekst);
        text-decoration: none;
        font-weight: bold;
      }
    </style>

    <div id="spis-tel">
      <h2>Spis treści</h2>
      <h3>Tematy podstawowe</h3>
      {{ $sortedPages := sort .Site.RegularPages "Params.id" }}
      {{ range $sortedPages }}
      {{ if eq .Params.nerd false }}
      <a class="link-spis-tel" href="{{ .RelPermalink }}">{{ .Params.id }}. {{ .Title }}</a><br>
      {{ end }}
      {{ end }}

      <h3>Tematy zaawansowane</h3>
      {{ range $sortedPages }}
      {{ if eq .Params.nerd true }}
      <a class="link-spis-tel" href="{{ .RelPermalink }}">{{ .Params.id }}. {{ .Title }}</a><br>
      {{ end }}
      {{ end }}
    </div>

    {{ .Content }}

    <style>
      #realizowany {
        margin-top: 2vw;
        text-align: center;
      }
    </style>
    <div id="realizowany">
      {{ partial "project_as.html" . }}
    </div>

  </div>
  <div id="sidebar-right">
    <h2>Spis treści</h2>
    {{ .TableOfContents }}
  </div>
</div>
{{ end }}