<a href="https://not.org.pl/" target="_blank">
    {{ with resources.Get "images/partnerships/not.png" }}
    <img src="{{ .RelPermalink }}" style="background-color: white;">
    {{ end }}
</a>
<a href="https://przeglad-techniczny.pl/" target="_blank">
    {{ with resources.Get "images/partnerships/przeglad_techniczny.jpg" }}
    <img src="{{ .RelPermalink }}">
    {{ end }}
</a>
<a href="https://sp351.pl/" target="_blank">
    {{ with resources.Get "images/partnerships/sp351.png" }}
    <img src="{{ .RelPermalink }}" style="background-color: white;">
    {{ end }}
</a>
<a href="https://spwni.edu.pl/" target="_blank">
    {{ with resources.Get "images/partnerships/iwiczna.png" }}
    <img src="{{ .RelPermalink }}">
    {{ end }}
</a>
<a href="https://pti.org.pl/" target="_blank">
    {{ with resources.Get "images/partnerships/pti.png" }}
    <img src="{{ .RelPermalink }}">
    {{ end }}
</a>